Task1/StaticLibrary/.vs
Task1/StaticLibrary/x64
Task1/StaticLibrary/Greeter/x64
Task1/StaticLibrary/Greeter/Greeter.vcxproj.user
Task1/StaticLibrary/StaticLibrary/x64
Task1/StaticLibrary/StaticLibrary/StaticLibrary.vcxproj.user


Task2/Dynamic/.vs